.footer {
  padding: 30px 0;
  background-color: $blue-accent;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__social-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $white;
    width: 28px;
    height: 28px;
    svg {
      path {
        fill: $blue-accent;
      }
    }
  }
  &__phone,
  &__rules {
    font-size: 18px;
    line-height: 24px;
  }
  &__number {
    @extend %Montserrat-500;
    font-size: 24px;
    padding-left: 15px;
  }
}


@media (max-width: 748px) {
  .footer {
    &__inner {
      flex-wrap: wrap;
    }
    &__social-list {
      order: 2;
    }
    &__phone {
      display: block;
      flex: 0 0 70%;
      order: 1;
    }
    &__rules {
      order: 3;
      margin-left: auto;
    }
    &__phone,
    &__rules {
      font-size: 12px;
      line-height: 21px;
    }
    
    &__number {
      display: block;
      font-size: 20px;
      line-height: 20px;
      padding-left: 0;
    }
  }
}
@media (max-width: 440px) {
  .footer {
    &__phone {
      flex: none;
    }
  }
}