
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %Montserrat-400;
  font-size: 16px;
  line-height: 1.2;
  color: $white;
  background-color: $body;
  position: relative;
  &.lock {
    overflow: hidden;
  }
}
a {
  color: inherit;
}
.main {
  flex-grow: 1;
}
.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.title {
  font-size: 36px;
  color: $blue-accent;
}

@media (max-width: 578px) {
  .container {
    max-width: 512px;
    width: 100%;
    padding: 0 33px;
    margin: 0 auto;
  }
}