
$body: #101212;
$header-content: #101416; 
$bullet-bg: #6e6a66;
$bullet-active: #d7cfc2;
$black: #1d242b; 
$black-ligth: #2b3642;
$black-ligth2: #2b353f;
$blue-accent: #0087ae;
$pink: #dd1657;
$white: #fff;
$product-bg: #e3effa;

%Montserrat-600 {
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
}
%Montserrat-500 {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
}
%Montserrat-400 {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
}
%Montserrat-300 {
  font-family: 'Montserrat-Light';
  font-weight: 300;
}
%Montserrat-200 {
  font-family: 'Montserrat-ExtraLight';
  font-weight: 200;
}

 %checkbox-hidden,
 %radio-hidden {
   width: 1px;
   height: 1px;
   overflow: hidden;
   clip: rect(0 0 0 0);
   position: absolute;
 }
 %uppercase{
   text-transform: uppercase;
 }
 %capitalaize {
  text-transform: capitalize;
 }

 %visual-hiden {
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    position: absolute;
 }